*{
    margin: 0;
    padding: 0;
}
/* font-family: 'Baloo Bhaijaan 2', cursive; */
/* font-family: 'Italianno', cursive; */
/* body{
    background: url('img/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} */
#home{
    background: url('img/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
.navbar{
    background-color: #00000010;
    height: 9vh;
    display: flex;
    justify-content: space-between;
}
.navbar span{
    color: rgb(255, 255, 0);
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin: 0 20px;
    list-style: none;
}
.navbar ul li a{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: rgb(255, 255, 0);
}
.left{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 30px;
    color: white;
    width: 10vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;

}
.container{
    font-family: 'Baloo Bhaijaan 2', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    color: white;
    flex-direction: column;
}
.container h3{
    font-size: 2rem;
}
.heading-main{
    margin-top: -40px;
    font-size: 10rem;
}
.sub-text{
    margin-top: -10px;
    font-size: 1.3rem;
}


.article-container{
    display: flex;
    flex-direction: column;
    height: 300vh;
    margin: auto;
}
.box{
    margin-top: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.box-left{
    display: flex;
}
.right-box{
    padding-left: 22px;
    width: 40vw;
    font-size: 18px;
}
.right-box h2{
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: rgba(0,0,0,.2);
}
.right-box h1{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.article-img{
    width: 40vw;
    height: 50vh;
}
.btn{
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 5px;
    padding: 8px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.100);
    border-radius: 20px;
    cursor: pointer;
}
.social-icons{
    width: 35px;
    height: 35px;
    color: black;
    margin: 15px 10px 0px 10px;
    border: 1px solid #877d7d;
    padding: 5px;
    background-color: #cfcfcf;
    border-radius: 13px;
    cursor: pointer;
}
.btn:hover{
    transition: 1s;
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 5px;
    padding: 8px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.300);
}
.btn-action{
    text-decoration: none;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: black;

}
.btn-about{
    cursor: pointer;
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: #00000029;
    padding: 19px;
    border: 1px solid black;
    border-radius: 20px;
    width: 10rem;
}
.btn-about:hover{
    background-color: #00000100;
    transition: 1s;
   padding: 20px;
}
footer{
    background-color: #00000010;
    height: 45px;
    text-align: center;
    padding-top: 2rem;
}
.contact-container{
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.contact-container h3{
    font-size: 25px;
}
.info{
    margin-top: 8px;
    display: flex;
}
.info p{
    margin: 1rem;
    padding: 5px;
}
.left-form img{
    width: 40vw;
    height: 70vh;
}
.contact-form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.left-form{
    width: 40vw;
    height: 70vh;
}
.right-form{
    background-color: #efefef;
    height: 70vh;
    width: 40vw;
}
.form input{
    margin: 1rem;
    padding: 10px;
    text-align: inherit;
    border: 1px solid grey;
    width: 25vw;
}
.form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 10rem 0px 0px;
}
textarea{
    border: 1px solid grey;
    text-align: center;
    width: 26vw;
    margin-top: 1rem;
}
@media(max-width:1300px){
    .box-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .article-img{
        width: 100vw;
        height: 50vh;
    }
    .article-container{
        height: max-content;
    }
    .form{
        margin: 0rem 0rem 0px 0px;
    }
}


@media (max-width:1000px){
    .navbar{
        background-color: #00000010;
        height: 14vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .left{
        font-family: 'Baloo Bhaijaan 2', cursive;
        font-size: 30px;
        color: white;
        width: 100vw;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 1rem;
    
    }
    .heading-main{
        margin-top: -15px;
        font-size: 4rem;
    }
    .right-box{
        width: 100vw;
    }
    .info{
        flex-direction: column;
    }
    .contact-form{
        flex-direction: column;
    }
    .contact-form{
        height: 125vh;
    }
    .left-form{
        width: 100vw;
        height: 70vh;
    }
    .left-form img{
        width: 100vw;
        height: 70vh;
    }
    .right-form{
        background-color: #efefef;
        height: 75vh;
        width: 100vw;
    }
    .form{
        margin: 3rem 0rem 0px 0px;
    }
    textarea{
        width: 51vw;
    }
    .form input{
        margin: 1rem;
        padding: 10px;
        text-align: inherit;
        border: 1px solid grey;
        width: 50vw;
    }
    footer{
        margin-top: 75px;
    }
}
@media(max-width: 420px){
    .navbar ul li a{
        font-size: 15px;
    }
}
@media(max-width: 350px){
    .navbar ul li a{
        font-size: 12px;
    }
}
